/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

.app {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.app .header {
  text-align: center;
}

.app textarea.result {
  min-height: 100px;
  color: black;
}

.app textarea,
.app input {
  width: 100%;
  resize: vertical;
}

.app form.crypt {
  max-width: 100%;
  padding: 5px;
}
